block content
    - var array = ["#", "../../assets/images/googlelogo_color_272x92dp.png", "../../assets/images/keyboard-solid.svg", "../../assets/images/th-solid.svg"]
    //- +search-result-google-content(array[0], array[1], array[2], array[3])
    div.search-result-google-header
        div.search-result-google-header-brand-input
            div.search-result-google-brand
                a(href=array[0])
                    img(src=array[1])
            div.search-result-google-input
                div.search-result-google-input-type
                    input
                div.search-result-google-keyboard-icon
                    a(href=array[0])
                        img(src=array[2])
                div.search-result-google-search
                    a(href="#") Tìm kiếm
        div.search-result-google-apps-login
            div.search-result-google-apps
                a(href=array[0])
                    img(src=array[3])
            div.search-result-google-login
                a(href="#")
                    button Đăng nhập
    div.google-navbar
        div.search-result-google-active
            div.google-icons
                a(href="#")
                    img(src="../../assets/images/index.svg")
            div
                a(href="#") Tất cả
        div
            div.google-icons
                a(href="#")
                    img(src="../../assets/images/file-image-regular.svg").search-result-google-images-icon
            div
                a(href="#") Hình ảnh
        div
            div.google-icons
                a(href="#")
                    img(src="../../assets/images/play-circle-regular.svg")
            div
                a(href="#") Video
        div
            div.google-icons
                a(href="#")
                    img(src="../../assets/images/newspaper-regular.svg")
            div
                a(href="") Tin tức
        div
            div.google-icons
                a(href="#")
                    img(src="../../assets/images/tag-solid.svg")
            div
                a(href="#") Mua sắm
        div
            div.google-icons
                a(href="#")
                    img(src="../../assets/images/ellipsis-v-solid.svg").search-result-google-more-icon
            div
                a(href="#") Thêm
        div
            div
                a(href="#") Cài đặt
        div.search-result-google-tools
            div
                a(href="#") Công cụ