- const adaptisBanner = [
-   {
-      title: "Success Story",
-       subject: "Kempinski Hotels S.A",
-       description: "Kempinski manages and operates some of the world’s most iconic hotels, with a portfolio of five-star hotels and residences across the globe, Adaptis leads the digital revolution for the hotel group.",
-       link: "VIEW THE WORK",
-       background: "../../assets/images/adaptis/adaptis-hero-kempinski.png"
-   },
-   {
-      title: "Success Story",
-       subject: "Johnnie Walker",
-       description: "The most widely distributed blended Scotch Whisky in the world",
-       link: "VIEW THE WORK",
-       background: "../../assets/images/adaptis/adaptis-hero-johnnie-walker.jpg"
-   },
-   {
-      title: "Success Story",
-       subject: "Burberry",
-       description: "Careers reinvented at this luxury fashion brand",
-       link: "VIEW THE WORK",
-       background: "../../assets/images/adaptis/adaptis-hero-burberry.jpg"
-   }
- ]

mixin adaptis-slide
    .adaptis-slide
        each val, index in adaptisBanner
            .adaptis-slide__stories.mySlides(style=`background-image: url(${val.background})`)
                .adaptis-caption
                    .adaptis-caption__title= val.title
                    .adaptis-caption__subject= val.subject
                    .adaptis-caption__description= val.description
                    .adaptis-caption__link
                        a(href="#")= val.link
        .adaptis-slide-button
            button(type="button" onclick="plusDivs(-1)").left-button
            button(type="button" onclick="plusDivs(1)").right-button

block content
    +adaptis-slide