//- src/views/mixins/list.pug

mixin list(id, ...items)
  ul(id=id)
    each item in items
      li= item

//- heading
mixin heading(classHeading, titleClass, titleContent, classDescFrame, descClass, descContent)
  div(class= classHeading)
    h1.kem-title(class= titleClass)= titleContent
    div(class= classDescFrame)
      span.kem-desc.kem-desc__separate(class= descClass)= descContent

//- banner
mixin banner(imgLeft, imgRight)
  .kem-homepage-banner__img-frame
    .kem-homepage-banner__img-frame__img-banner.banner__small-left(style= "background-image: url(../../../../assets/images/kem/kem-homepage/kem-homepage-banner/"+imgLeft+")")
    .kem-homepage-banner__img-frame__img-banner.banner__small-right(style= "background-image: url(../../../../assets/images/kem/kem-homepage/kem-homepage-banner/"+imgRight+")")

//- kem-home-offers__slider__item
mixin slider-offers(title, link, desc)
  .kem-home-offers__slider__item
    a.slider-img(style="background-image : url(../../../../assets/images/kem/kem-homepage/kem-homepage-offers/"+link+")")
    .slider-caption 
      h4.slider-caption__title.kem-title= title
      .slider-caption__desc
        p.kem-para= desc[0]
        p.kem-para= desc[1]
      .slider-caption__btn
        +button-link("FURTHER INFORMATION")

//- kem button link 
mixin button-link(title)
  a.kem-btn-link= title