//- src/views/mixins/list.pug

mixin list(id, ...items)
  ul(id=id)
    each item in items
      li= item

// kem-home-offers__slider__item
mixin slider-offers(title, link, desc)
  .kem-home-offers__slider__item
    a.slider-img(style="background-image : url(../../../../assets/images/kem/kem-homepage/kem-homepage-offers/"+link+")")
    .slider-caption 
      h4.slider-caption__title.kem-title= title
      .slider-caption__desc
        p.kem-para= desc[0]
        p.kem-para= desc[1]
      .slider-caption__btn
        +button-link("FURTHER INFORMATION")

// kem button link 
mixin button-link(title)
  a.kem-btn-link= title