//- src/views/mixins/list.pug

mixin list(id, ...items)
  ul(id=id)
    each item in items
      li= item


mixin list-box(title, subs, icons)
  ul.list
    li.list__title=title
    each icon in icons
      i(class=icon)
    each sub in subs
      li.list__sub=sub
      

mixin slider(img, star, content, avt, name, contry)
  .slide
    img(src=img, alt="alt").slide__img
    .slide__star
        - for(i = 0; i< star; ++i){
        i.fas.fa-star
        - }
    p.slide__content=content
    .slide__avt
        img(src=avt, alt="alt")
        p=name
            br 
            =contry


mixin utility(path, title, content)
  .utility
    svg.utility__icon(viewBox="0 0 24 24",  focusable="false" aria-hidden="true" role="presentation" stroke-linecap="round" stroke-linejoin="round")
      path(d=path)
    .utility__content
        p.utility__content--title
            =title
        p.utility__content--main
            =content  

mixin pro-detail(img, name, title, price, star, sub)
  .slide
    img(src=img, alt="alt").slide__img
    p.slide__content
        p.slide__content--main=name
        p.slide__content--sub=title
        p.slide__content--price=price
        p.slide__content--star
            - for(i = 0; i< star; ++i){
            i.fas.fa-star
            - }
            =sub